body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

main {
    background-image: url("./firewatch-wallpaper.jpg");
    background-size: 100%;
    background-position: center;
    padding-bottom: 35%;
    text-align: center;
}

h1 {
    color: #32002a;
    padding: 40px 0;
    font-weight: 700;

}

h2 {
    color: #32002a;
}

h3 {
    position: absolute;
    left: 28%;
    bottom: 8%;
    color: #ffddc6;
}

span {
    display: block;
    padding-top: 10px;
}

nav {
    margin-top: 20px;
}

a {
    text-decoration: none;
    padding: 0 20px;
    color: #32002a;
    font-weight: bold;
}

a:hover {
    color: #ffddc6;
}

.right-side {
    float: right;